html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin-left: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	font-family: 'Changa', sans-serif;
}

div {
	font-size: 1em;
	}

section a { font-size: 1.5em;
	color: #EDFC00;
	text-decoration: none;
	 }

h2 { font-size: 1.5em; }

h2 a:hover { color: #00FCDD; }

h2 a { text-decoration: none;
		color: #EDFC00;; }

a:hover { color: #00FCDD;}

#menu a {
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

#menu { width: 100%;  clear: both; }

#menu a:hover {
  color: #00FCDD;
}

.effet img:hover {
    -moz-box-shadow: 1px 1px 30px #00FCDD;
    -webkit-box-shadow: 1px 1px 30px #00FCDD;
        box-shadow: 1px 1px 30px #00FCDD;
}

.lucia { 
    width: 10%;
    height: 50px;
    float: left;
}

.insta { 
    width: 88%;
    height: 50px;
    float: left;
}

.longue1 {
      width: 2%;
      height: 50px;
      float: left;
    }

.container { width: 100%; clear: both; }

    .longue {
      width: 5%;
      height: 2080px;
    }
    .colonne {
      float: left;
    }

    .quart {
      width: 23.75%;
      height: 500px;
    }

    .moitie {
      width: 47.5%;
      height: 580px;
    }

    .tiers {
      width: 31.66%;
      height: 500px;
    }

    .tiers2 {
      width: 31.66%;
      height: 500px;
      
    }

    .entier {
      width: 100%;
      height: 20px;
      text-align: right;
    }

h1 {
	font-size: 4em;
}

.slide1,.slide2,.slide3,.slide4,.slide5, .slide6, .slide7, .slide8, .slide9, .slide10, .slide11, .slide12, .slide13 {
  position: absolute;
  width: 20%;
}

.slide1 {
  background: no-repeat center;
      background-size: cover;
    animation:fade 30s infinite;
-webkit-animation:fade 30s infinite;

} 

.slide2 {
  background: no-repeat center;
      background-size: cover;
    animation:fade2 30s infinite;
-webkit-animation:fade2 30s infinite;
}

.slide3 {
    background: no-repeat center;
      background-size: cover;
    animation:fade3 30s infinite;
-webkit-animation:fade3 30s infinite;
}

.slide4 {
    background: no-repeat center;
      background-size: cover;
    animation:fade4 30s infinite;
-webkit-animation:fade4 30s infinite;
}

.slide5 {
    background: no-repeat center;
      background-size: cover;
    animation:fade5 30s infinite;
-webkit-animation:fade5 30s infinite;
}

.slide6 {
    background: no-repeat center;
      background-size: cover;
    animation:fade6 30s infinite;
-webkit-animation:fade6 30s infinite;
}

.slide7 {
    background: no-repeat center;
      background-size: cover;
    animation:fade7 30s infinite;
-webkit-animation:fade7 30s infinite;
}

.slide8 {
    background: no-repeat center;
      background-size: cover;
    animation:fade8 30s infinite;
-webkit-animation:fade8 30s infinite;
}

.slide9 {
    background: no-repeat center;
      background-size: cover;
    animation:fade9 30s infinite;
-webkit-animation:fade9 30s infinite;
}

.slide10 {
    background: no-repeat center;
      background-size: cover;
    animation:fade10 30s infinite;
-webkit-animation:fade10 30s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  10% { opacity: 1}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 1}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade4
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 1}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade5
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 1}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade6
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 1}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade7
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 1}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade8
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 1}
  80% { opacity: 0}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade9
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 1}
  90% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade10
{
  0%   {opacity:0}
  10% { opacity: 0}
  20% { opacity: 0}
  30% { opacity: 0}
  40% { opacity: 0}
  50% { opacity: 0}
  60% { opacity: 0}
  70% { opacity: 0}
  80% { opacity: 0}
  90% { opacity: 1}
  100% { opacity: 0}
}

.slide11 {
  background: no-repeat center;
      background-size: cover;
    animation:fade11 7s infinite;
-webkit-animation:fade11 7s infinite;

} 

.slide12 {
  background: no-repeat center;
      background-size: cover;
    animation:fade12 7s infinite;
-webkit-animation:fade12 7s infinite;
}

.slide13 {
    background: no-repeat center;
      background-size: cover;
    animation:fade13 7s infinite;
-webkit-animation:fade13 7s infinite;
}

@keyframes fade11
{
  0%   {opacity:1}
  33.333% {opacity:0}
  66.666% {opacity:0}
  100% { opacity: 1}
}

@keyframes fade12
{
  0%   {opacity:0}
  33.333% {opacity:1}
  66.666% {opacity:0}
  100% { opacity: 0}
}

@keyframes fade13
{
  0%   {opacity:0}
  33.333% {opacity:0}
  66.666% {opacity:1}
  100% { opacity: 0}
}


.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */

    .gauche {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .milieu {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .milieu2 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .droite {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23; 
    }

    .gauche2 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .droite2 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .gauche3 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .milieu3 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .droite3 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23; 
    }

    .gauche4 {
      width: auto;
    float: none;
    height: 0px;
    }

    .milieu4 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    margin-bottom: 2%;
    background-color: #ff8a23;
    }

    .droite4 {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    background-color: #ff8a23;
    }

    .entier {
      width: auto;
    float: none;
    padding: 2%;
    height: auto;
    background-color: #ff8a23;
    }

}
